.body {
    padding-block: 8px;
    display: flex;
    gap: 2rem;
    overflow: hidden;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    user-select: none;
    animation: scroll 20s linear infinite;

    &:hover {
        animation-play-state: paused;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
