.button {
  transition: all 0.2s ease;

  &:hover {
    transform: scale(108%);
  }

  &:active {
    transform: scale(96%);
  }
}

.galleryBody {
  display: grid;
  grid-auto-flow: column;
  padding: 10px;
  overflow-x: scroll;
  width: 100%;
  scroll-behavior: smooth;
}

.galleryBody::-webkit-scrollbar{
    display: none;
}

.visibleSlider{
  transform: scale(100%) translateY(0);
  transition: all 0.3s ease;
}

.unVisibleSlider{
  transform: scale(0%) translateY(-100%);
  transition: all 0.2s ease;
}